---
layout: default
---

  <!-- <h2>Main Page</h2>

  Main content goes here. -->

  <div id="page-home">
    {% include section-home.html %}
  </div>

  <div id="page-education">
    {% include section-education.html %}
  </div>

  <div id="page-skills">
    {% include section-skills.html %}
  </div>

  <div id="page-portfolio">
    {% include section-portfolio.html %}
  </div>

  <div id="page-contact">
    {% include section-contact.html %}
  </div>

  <script src="js/css3-animate-it.js"></script>
