<h2 class="text-center">Skills</h2>
<a id="skills" class="smooth"></a>

<div class="container skills-container">
  <div class="row">
    <div id="front-end-column" class="col-xs-12 col-sm-4">
      <h3 class="text-center section-title">Front-End Development</h3>
      <div class="skills-list-div">
        <p class="skills-category">Frameworks/Libraries</p>
        <ul>
          <li><img class="img-responsive list-image" src="./images/icons/angular-icon.svg">AngularJS</li>
          <li><img class="img-responsive list-image" src="./images/icons/jquery-icon.svg">jQuery</li>
        </ul>
      </div>
      <div class="skills-list-div">
        <p class="skills-category">Essentials</p>
        <ul>
          <li><img class="img-responsive list-image" src="./images/icons/html5-icon.svg">HTML</li>
          <li><img class="img-responsive list-image" src="./images/icons/css3-icon.svg">CSS/SCSS</li>
        </ul>
      </div>
      <div class="skills-list-div">
        <p class="skills-category">CSS Frameworks</p>
        <ul>
          <li><img class="img-responsive list-image" src="./images/icons/bootstrap-4-icon.svg">Bootstrap</li>
          <li><img class="img-responsive list-image" src="./images/icons/materializecss-icon.svg">Materialize</li>
          <li><img class="img-responsive list-image" src="./images/icons/pure-css-logo.png">Pure</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>

  </div>
</div>
