<a id="contact" class="smooth"></a>

<div class="content-wrapper">
  <div class="contact-content">
    <h2 class="contact-text">If you would like to get in touch,</h2>
    <h2 class="contact-text">send me an e-mail at</h2>
    <h2 id="contact-email">lourenco.a.sequeira@gmail.com</h2>

    <div class="contact-icon-row">
      <a target="_blank" href="https://github.com/laseq"><img class="img-responsive" src="./images/icons/github-icon.svg"></a>
      <a target="_blank" href="https://www.linkedin.com/in/lourencosequeira"><img class="img-responsive" src="./images/icons/linkedin-icon.svg"></a>
      <a href="mailto:lourenco.a.sequeira@gmail.com" target="_top"><img class="img-responsive" src="./images/icons/email-icon.svg"></a>
    </div>
  </div>
</div>
