<a id="education" class="smooth"></a>

<div class="content-wrapper">
  <div class="second-content-wrapper">
    <div class="dummy-div">

    </div>
    <div class="education-content">
      <h2 id="education-text">I studied Web Development at General Assembly in London</h2>
      <a target="_blank" href="https://generalassemb.ly/"><img id="ga-icon" src="./images/icons/ga-icon.png" alt="Visit GA"></a>
    </div>
    <div class="scroll-prompt">
      <!-- <p>Continue</p> -->
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
  </div>
</div>
