<a id="portfolio" class="smooth"></a>
<h2 class="text-center">Portfolio</h2>

<div class="portfolio-card">

  <ul class="nav nav-tabs nav-justified">
    <li class="active project1-tab project-tabs"><a data-toggle="tab" href="#project1">Project 1</a></li>
    <li class="project2-tab project-tabs"><a data-toggle="tab" href="#project2">Project 2</a></li>
    <li class="project3-tab project-tabs"><a data-toggle="tab" href="#project3">Project 3</a></li>
    <li class="project4-tab project-tabs"><a data-toggle="tab" href="#project4">Project 4</a></li>
  </ul>

  <div class="tab-content">
    <div id="project1" class="tab-pane fade in active project1-tab tab-customisation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-6 project-screenshot">
            <img class="img-responsive" src="./images/project-1.png" alt="Project 1 - Battleship">
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="project-header">
              <h2>WDI Project 1 - <span>Create a game in the browser</span></h2>
            </div>
            <h3 class="project-name">Battleship</h3>
            <p>Battleship is a popular turn based game where the aim of the game is to sink your opponent's ships before they sink yours. In this version of Battleship, you'll play against the computer and your ships will be randomly placed for you at the start of the game.</p>
            <p class="list-heading">The game's code can be split into 4 sections:</p>
            <ol>
              <li>Creating the grids</li>
              <li>Placing the ships on the grids</li>
              <li>The battle system</li>
              <li>The AI</li>
            </ol>
            <p class="list-heading">Tech used</p>
            <ul>
              <li>HTML/CSS</li>
              <li>JavaScript/jQuery</li>
            </ul>
            <p><span class="project-link-title">Github: </span>
              <a target="_blank" href="https://github.com/laseq/wdi-project-1">https://github.com/laseq/wdi-project-1</a>
            </p>
            <p><span class="project-link-title">Project: </span>
              <a target="_blank" href="https://protected-waters-78340.herokuapp.com">https://protected-waters-78340.herokuapp.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="project2" class="tab-pane fade project2-tab tab-customisation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-6 project-screenshot">
            <img class="img-responsive" src="./images/project-2.png" alt="Project 2 - Kanji Kaigou">
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="project-header">
              <h2>WDI Project 2 - <span>A Full Stack RESTful application with authentication</span></h2>
            </div>
            <h3 class="project-name">Kanji Kaigou</h3>
            <p>My project of choice was a web app to enable learners of Japanese to improve their Kanji (Japanese symbol) competence. As a learner of the Japanese language I felt that it would be an exciting project to embark on. Such an app would fulfil the project requirements with RESTful routes and include some logic for lesson reviews.</p>
            <p class="list-heading">Tech used</p>
            <ul>
              <li>Express.js</li>
              <li>Node.js</li>
              <li>MongoDB (with Mongoose)</li>
              <li>BCrypt</li>
              <li>HTML/CSS/SCSS</li>
              <li>JavaScript/jQuery</li>
            </ul>
            <p><span class="project-link-title">Github: </span>
              <a target="_blank" href="https://github.com/laseq/wdi-project-2">https://github.com/laseq/wdi-project-2</a>
            </p>
            <p><span class="project-link-title">Project: </span>
              <a target="_blank" href="https://whispering-harbor-84338.herokuapp.com">https://whispering-harbor-84338.herokuapp.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="project3" class="tab-pane fade project3-tab tab-customisation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-6 project-screenshot">
            <img class="img-responsive" src="./images/project-3.png" alt="Project 3 - Runch">
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="project-header">
              <h2>WDI Project 3 - <span>A MEAN Stack application with an API created as a team</span></h2>
            </div>
            <h3 class="project-name">Runch</h3>
            <p>RUNCH is an app targeted at getting people, who have little spare time, active. It enables them to use their lunch-time wisely - they can go for a quick run and meet other like-minded professionals. It is an opportunity to not only get fit, but also to network, and feel refreshed for the second half of the day.</p>
            <p class="list-heading">Tech used</p>
            <ul>
              <li>MongoDB (with Mongoose)</li>
              <li>Express.js</li>
              <li>AngularJS</li>
              <li>Node.js</li>
              <li>git/GitHub (team collaboration)</li>
              <li>BCrypt</li>
              <li>HTML/CSS/SCSS</li>
              <li>JavaScript/jQuery</li>
            </ul>
            <p><span class="project-link-title">Github: </span>
              <a target="_blank" href="https://github.com/laseq/wdi-group-project">https://github.com/laseq/wdi-group-project</a>
            </p>
            <p><span class="project-link-title">Project: </span>
              <a target="_blank" href="https://runchtime.herokuapp.com">https://runchtime.herokuapp.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="project4" class="tab-pane fade project4-tab tab-customisation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-6 project-screenshot">
            <img class="img-responsive" src="./images/project-4.png" alt="Project 4 - Henstagenda">
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="project-header">
              <h2>WDI Project 4 - <span>A Fullstack Rails application with an API and an SQL database</span></h2>
            </div>
            <h3 class="project-name">Henstagenda</h3>
            <p>Henstagenda is a website that helps you organise stag and hen dos. You can create a group for your stag/hen do, create the agenda of events for your party and invite your friends to it. The group enables everyone to keep up to date with the agenda and find out which friends are able to make it to events by providing their attendance status.</p>
            <p>The project helped me improve my understanding of Ruby on Rails through creating custom routes and custom methods that needed to be created and used in conjunction with the database in order to pass meaningful data onto the client side.</p>
            <p class="list-heading">Tech used</p>
            <ul>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>AngularJS</li>
              <li>BCrypt</li>
              <li>HTML/CSS/SCSS</li>
              <li>JavaScript</li>
            </ul>
            <p><span class="project-link-title">Github: </span>
              <a target="_blank" href="https://github.com/laseq/wdi-project-4-client">https://github.com/laseq/wdi-project-4-client</a>
            </p>
            <p><span class="project-link-title">Github: </span>
              <a target="_blank" href="https://github.com/laseq/wdi-project-4-api">https://github.com/laseq/wdi-project-4-api</a>
            </p>
            <p><span class="project-link-title">Project: </span>
              <a target="_blank" href="https://agile-cliffs-75809.herokuapp.com/">https://agile-cliffs-75809.herokuapp.com/</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
