<a id="education" class="smooth"></a>

<div class="content-wrapper animatedParent" data-appear-top-offset="-300" data-sequence="800">
  <!-- <h2 id="education-text" class="animated bounceInRight" data-id="1">Hello</h2> -->
  <div class="second-content-wrapper">
    <div class="dummy-div">

    </div>
    <div class="education-content">
      <h2 id="education-text" class="animated bounceInRight" data-id="1">
        <!-- I studied Web Development at General Assembly in London -->
        I studied Web Development at General Assembly
      </h2>
      <div class="animated fadeInLeft" data-id="2">
        <a target="_blank" href="https://generalassemb.ly/">
          <div class="animated rotateIn slower" data-id="2">
            <img id="ga-icon" src="./images/icons/ga-icon.png" alt="Visit GA">
          </div>
        </a>
      </div>
    </div>
    <div class="scroll-prompt">
      <div class="upDownAnimation">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <!-- <div class="second-content">
    <h2 class="contact-text animated fadeInRight" data-id="1">If you would like to get in touch,</h2>
    <h2 class="contact-text animated fadeInLeft" data-id="1">send me an e-mail at</h2>
    <h2 class="contact-text animated growIn" data-id="2" id="contact-email">hello@louseq.com</h2>

    <div class="contact-icon-row">
      <a target="_blank" href="https://github.com/laseq">
        <img class="img-responsive animated bounceInLeft" data-id="3" src="./images/icons/github-icon.svg">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/lourencosequeira">
        <img class="img-responsive animated bounceInUp" data-id="3" src="./images/icons/linkedin-icon.svg">
      </a>
      <a href="mailto:hello@louseq.com" target="_top">
        <img class="img-responsive animated bounceInRight" data-id="3" src="./images/icons/email-icon.svg">
      </a>
    </div>
  </div> -->

</div>
