<a id="contact" class="smooth"></a>

<div class="content-wrapper animatedParent" data-appear-top-offset="-300" data-sequence="1000">
  <div class="contact-content">
    <h2 class="contact-text animated fadeInRight" data-id="1">If you would like to get in touch,</h2>
    <h2 class="contact-text animated fadeInLeft" data-id="1">send me an e-mail at</h2>
    <h2 class="contact-text animated growIn" data-id="2" id="contact-email">hello@louseq.com</h2>

    <div class="contact-icon-row">
      <a target="_blank" href="https://github.com/laseq">
        <img class="img-responsive animated bounceInLeft" data-id="3" src="./images/icons/github-icon.svg">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/lourencosequeira">
        <img class="img-responsive animated bounceInUp" data-id="3" src="./images/icons/linkedin-icon.svg">
      </a>
      <a href="mailto:hello@louseq.com" target="_top">
        <img class="img-responsive animated bounceInRight" data-id="3" src="./images/icons/email-icon.svg">
      </a>
    </div>
  </div>
</div>
