<a id="education" class="smooth"></a>

<div class="content-wrapper animatedParent" data-appear-top-offset="-300" data-sequence="800">
  <div class="second-content-wrapper">
    <div class="dummy-div">

    </div>
    <div class="education-content ">
      <h2 id="education-text" class="animated fadeInRight" data-id="1">
        I studied Web Development at General Assembly in London
      </h2>
      <div class="animated fadeInLeft" data-id="2">
        <a target="_blank" href="https://generalassemb.ly/">
          <div class="animated rotateIn slower" data-id="2">
            <img id="ga-icon" src="./images/icons/ga-icon.png" alt="Visit GA">
          </div>
        </a>
      </div>
    </div>
    <div class="scroll-prompt">
      <!-- <p>Continue</p> -->
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
  </div>
</div>
