<a id="skills" class="smooth"></a>

<div class="content-wrapper">
  <div class="second-content-wrapper">
    <div class="skills-blurb">
      <h2>Where I picked up many useful skills</h2>
    </div>

    <div class="container skills-container">
      <div class="row flex-container">
        <div id="front-end-column" class="col-xs-12 col-sm-4">
          <div class="major-column">
            <h3 class="text-center section-title">Front-End Development</h3>

            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Frameworks/<span>Libraries</span></p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/angular-icon.svg">AngularJS</li>
                    <li><img class="img-responsive list-image" src="./images/icons/jquery-icon.svg">jQuery</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Essentials</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/html5-icon.svg">HTML</li>
                    <li><img class="img-responsive list-image" src="./images/icons/css3-icon.svg">CSS/SCSS</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">CSS Frameworks</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/bootstrap-4-icon.svg">Bootstrap</li>
                    <li><img class="img-responsive list-image" src="./images/icons/materializecss-icon.svg">Materialize</li>
                    <li><img class="img-responsive list-image" src="./images/icons/pure-css-logo.png">Pure</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="back-end-column" class="col-xs-12 col-sm-4">
          <div class="major-column">
            <h3 class="text-center section-title">Back-End Development</h3>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Server-Side Frameworks</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/express-js-icon.svg">Express.js</li>
                    <li><img class="img-responsive list-image" src="./images/icons/rails-icon.svg">Ruby on Rails</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Database Systems</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/mongo-icon.png">MongoDB</li>
                    <li><img class="img-responsive list-image" src="./images/icons/postgresql-icon.svg">PostgreSQL</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Runtime Environments</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/nodejs-icon.svg">Node.js</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="extra-column" class="col-xs-12 col-sm-4">
          <div class="major-column">
            <h3 class="text-center section-title">Additional Skills</h3>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-12 skills-list-div skills-list-div">
                  <p class="skills-category">Programming Languages</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/javascript-icon.svg">JavaScript</li>
                    <li><img class="img-responsive list-image" src="./images/icons/ruby-icon.svg">Ruby</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Test Driven Development</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/mocha-icon.svg">Mocha</li>
                    <li><img class="img-responsive list-image" src="./images/icons/chai-icon.svg">Chai</li>
                    <li><img class="img-responsive list-image" src="./images/icons/supertest-icon.png">Supertest</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 skills-list-div">
                  <p class="skills-category">Version Control</p>
                  <ul>
                    <li><img class="img-responsive list-image" src="./images/icons/git-icon.svg">git</li>
                    <li><img class="img-responsive list-image" src="./images/icons/github-icon.svg">GitHub</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="scroll-prompt">
      <!-- <p>Continue</p> -->
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
  </div>
</div>
