// Variables, mixins, and resets will go here.

$theme-color-1: #30343F;
$theme-color-2: #004BA8;
$theme-color-3: #2E86AB;
$theme-color-4: #7AC3E8;
$theme-color-4-alt: #92CDEC;
$theme-color-5: #EAF3FF;

$content-width: 800px;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
// $font-color: #262626;
// $link-color: #425469;
// $link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
// $heading-font-color: #425469;
// $light: #E7EDF4;
// $header:  #1D1425;

$font-color: $theme-color-1;
$link-color: $theme-color-1;
$link-hover-color: $theme-color-2;
$heading-font-color: $theme-color-1;
$light: $theme-color-5;
$header:  $theme-color-1;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
