#page-contact {
  position: relative;

  .content-wrapper {
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contact-content {
      text-align: center;
      margin: auto;

      .contact-text {
        margin-top: 0;
        margin-bottom: 0;
      }
      #contact-email {
        margin-top: 2em;
        margin-bottom: 3em;
      }
      .contact-icon-row {
        display: flex;
        justify-content: space-around;
        margin-top: 4em;
        img {
          display: inline-block;
          height: 4em;
          width: 4em;
          transition: all .2s ease-in-out;

          &:hover {
            opacity: 0.8;
            transform: scale(1.1);
          }
        }
      }
    }
    .scroll-prompt {
      text-align: center;
      margin: auto;
    }

    .second-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 98vh;


    }
  }

  // .content-wrapper::after {
  //   content: "";
  //   background: url('../images/bg/paper-fibers-1.png') repeat;
  //   // background-size: cover;
  //   opacity: 0.1;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;
  // }
}
