#page-education {
  .content-wrapper {
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .second-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 98vh;

      .education-content {
        text-align: center;

        #education-text {
          margin-top: 0;
          margin-bottom: 0;
        }
        #ga-icon {
          height: 5em;
          width: 5em;
          margin-top: 1em;
        }
      }
      .scroll-prompt {
        text-align: center;
      }
    }
  }
}
