#page-home {
  .content-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    // background: url('../images/home-image-3.jpg') no-repeat fixed center;
    // background-size: auto 100%;

    .second-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: center;
      height: 98vh;

      .intro-content {
        text-align: center;
        width: 100vw;
        background-color: rgba(255,255,255,0.5);
        padding: 3em;

        #intro-my-name, #intro-my-position {
          margin-top: 0;
          margin-bottom: 0;
        }

        #intro-my-name {

        }
        #intro-my-position {

        }
      }

      .scroll-prompt {
        text-align: center;
      }

    }
  }

  .content-wrapper::after {
    content: "";
    background: url('../images/home-image-3.jpg') no-repeat fixed center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
