#page1, #page2, #page3, #page4 {
  min-height: 800px;
}

#page1 {
  background-color: yellow;
}
#page2 {
  background-color: green;
}
#page3 {
  background-color: blue;
}
#page4 {
  background-color: purple;
}
