#page1, #page2, #page3, #page4 {
  // min-height: 800px;
  min-height: 100vh;
}

#page1 {
  background-color: beige;
}
#page2 {
  background-color: beige;
  padding: 0 1.5em 1.5em 1.5em;
}
#page3 {
  background-color: beige;
}
#page4 {
  background-color: purple;
}
