#page-home, #page-portfolio, #page-skills, #page-contact {
  // min-height: 800px;
  min-height: 100vh;
}

#page-home {
  background-color: beige;
}
#page-portfolio {
  background-color: beige;
  padding: 0 1.5em 1.5em 1.5em;
}
#page-skills {
  background-color: beige;
}
#page-contact {
  background-color: purple;
}
