#page-portfolio {
  .content-wrapper {
    min-height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .second-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 98vh;

      .portfolio-blurb {
        text-align: center;
        margin-bottom: 1em;
      }

      .scroll-prompt {
        text-align: center;
        margin-top: 1em;
      }
    }

  }
}

@mixin medium-card-container {
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  transition: all 0.5s ease;
  // padding: 1em;
  // margin-bottom: 0.5em;
  position: relative;
  background-color: $theme-color-5;
}

$projects-tab-colour: $theme-color-3;
// $project1-tab-colour: rgba(207,207,207,1);
// $project2-tab-colour: rgba(207,207,207,1);
// $project3-tab-colour: rgba(207,207,207,1);
// $project4-tab-colour: rgba(207,207,207,1);
$active-project-colour: $theme-color-5;
$portfolio-border-colour: $theme-color-3;
$active-border-colour: $theme-color-5;

.project-tabs {
  background-color: $projects-tab-colour;
  a {
    text-decoration: none;
  }
  &.active a {
    background-color: $active-project-colour;
    border-color: $active-border-colour;
  }
}
.nav>li>a:hover {
    background-color: $active-project-colour;
    opacity: 0.9;
}
.nav>li.active>a:hover {
  opacity: 1;
}

.nav>.projects-tabs>a:hover {
  background-color: $active-project-colour;
}
.nav-tabs.nav-justified > .project-tabs > a {
  border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: $projects-tab-colour;
    border: 1px solid $portfolio-border-colour;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: none;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-radius: 0;
  }
}
.nav-tabs.nav-justified>li>a {
  border-radius: 0;
}

// .project1-tab {
//   background-color: $active-project-colour;
//   &.active a {
//     background-color: $active-project-colour;
//     border-color: $active-project-colour;
//   }
// }
// .nav-tabs.nav-justified>.project1-tab>a {
//     border-color: $portfolio-border-colour;
// }
// .nav>.project1-tab>a:focus, .nav>.project1-tab>a:hover {
//     background-color: $project1-tab-colour;
// }
//
// .project2-tab {
//   background-color: $project2-tab-colour;
//   &.active a{
//     background-color: $project2-tab-colour;
//   }
// }
// .nav-tabs.nav-justified>.project2-tab>a {
//     border-color: $portfolio-border-colour;
// }
// .nav>.project2-tab>a:focus, .nav>.project2-tab>a:hover {
//     background-color: $project2-tab-colour;
// }
//
// .project3-tab {
//   background-color: $project3-tab-colour;
//   &.active a{
//     background-color: $project3-tab-colour;
//   }
// }
// .nav-tabs.nav-justified>.project3-tab>a {
//     border-color: $portfolio-border-colour;
// }
// .nav>.project3-tab>a:focus, .nav>.project3-tab>a:hover {
//     background-color: $project3-tab-colour;
// }
//
// .project4-tab {
//   background-color: $project4-tab-colour;
//   &.active a{
//     background-color: $project4-tab-colour;
//   }
// }
// .nav-tabs.nav-justified>.project4-tab>a {
//     border-color: $portfolio-border-colour;
// }
// .nav>.project4-tab>a:focus, .nav>.project4-tab>a:hover {
//     background-color: $project4-tab-colour;
// }

.nav-tabs>.project-tabs.active>a, .nav-tabs>.project-tabs.active>a:focus, .nav-tabs>.project-tabs.active>a:hover {
    background-color: $active-project-colour;
    border-bottom-color: $active-project-colour;
}
// .nav-tabs>.project1-tab.active>a, .nav-tabs>.project1-tab.active>a:focus, .nav-tabs>.project1-tab.active>a:hover {
//     background-color: $active-project-colour;
//     border-bottom-color: $active-project-colour;
// }
// .nav-tabs>.project2-tab.active>a, .nav-tabs>.project2-tab.active>a:focus, .nav-tabs>.project2-tab.active>a:hover {
//     background-color: $active-project-colour;
//     border-bottom-color: $active-project-colour;
// }
// .nav-tabs>.project3-tab.active>a, .nav-tabs>.project3-tab.active>a:focus, .nav-tabs>.project3-tab.active>a:hover {
//     background-color: $active-project-colour;
//     border-bottom-color: $active-project-colour;
// }
// .nav-tabs>.project2-tab.active>a, .nav-tabs>.project4-tab.active>a:focus, .nav-tabs>.project4-tab.active>a:hover {
//     background-color: $active-project-colour;
//     border-bottom-color: $active-project-colour;
// }
.portfolio-card {
  @include medium-card-container;
  margin-left: 1%;
  margin-right: 1%;

  .tab-customisation {
    .row {
      padding-top: 2em;
      padding-bottom: 1.5em;
    }
    .project-screenshot {
      margin-top: 0em;
      margin-bottom: 1.5em;
      img {
        border: 0.8em solid #fff;
      }
    }
    .project-header {
      margin-top: 0em;
      margin-bottom: 0.5em;
      h2 {
        margin-top: 0;
        margin-bottom: 0.6em;
        line-height: 1em;
      }
      span {
        font-weight: 600;
      }
    }
    .project-name {
      margin-top: 0.1em;
      margin-bottom: 0.4em;
    }
    .project-title-span {
      padding-bottom: 0.2em;
      border-bottom: 3px solid $theme-color-3;
    }
    .list-heading {
      font-weight: 600;
      margin-bottom: 0.3em;
    }
    .project-link-title {
      font-weight: 600;
    }
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        padding: 0.7em 1em 0.7em;
        margin-bottom: 0.5em;
        background-color: $theme-color-3;
        font-size: 0.9em;
      }
    }
  }
}
